.wrapper {
    color: #ae62c5;
    font-weight: 700;
    padding: 0.625rem;
    position: relative;
    bottom: 0;
    text-decoration: none;
    transition: 1s;
    width: 10rem;
}
.wrapper:hover,
.wrapper a.active {
    color: #c205fc;
    border-bottom: 1px solid #c205fc;
}
