.header {
    background-color: #9049d1;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.linksHeader {
    margin-right: 2rem;
}
